<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzjk.mapper.AssessmentTypeMapper">
  <resultMap id="BaseResultMap" type="com.wzjk.entity.AssessmentType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mc" jdbcType="VARCHAR" property="mc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_assessment_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_assessment_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzjk.entity.AssessmentType">
    insert into tb_assessment_type (id, mc)
    values (#{id,jdbcType=INTEGER}, #{mc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wzjk.entity.AssessmentType">
    insert into tb_assessment_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mc != null">
        mc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mc != null">
        #{mc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzjk.entity.AssessmentType">
    update tb_assessment_type
    <set>
      <if test="mc != null">
        mc = #{mc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzjk.entity.AssessmentType">
    update tb_assessment_type
    set mc = #{mc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>