<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzjk.mapper.KnowledgeTypeMapper">
  <resultMap id="BaseResultMap" type="com.wzjk.entity.KnowledgeType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="zslb" jdbcType="VARCHAR" property="zslb" />
  </resultMap>
  <sql id="Base_Column_List">
    id, zslb
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_knowledge_type
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectKnowledgeTypeList" resultType="com.wzjk.response.KnowledgeTypeResp">
    select
    <include refid="Base_Column_List" />
    from tb_knowledge_type
    order by id desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_knowledge_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzjk.entity.KnowledgeType">
    insert into tb_knowledge_type (id, zslb)
    values (#{id,jdbcType=INTEGER}, #{zslb,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wzjk.entity.KnowledgeType">
    insert into tb_knowledge_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="zslb != null">
        zslb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zslb != null">
        #{zslb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzjk.entity.KnowledgeType">
    update tb_knowledge_type
    <set>
      <if test="zslb != null">
        zslb = #{zslb,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzjk.entity.KnowledgeType">
    update tb_knowledge_type
    set zslb = #{zslb,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>